<% provide(:title, 'Fbits Migrations') %>
<%= render 'shared/page_heading' %>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				
				<div class="ibox-content">
					<table class="table">
						<thead>
							<th>Dados</th>
							<th>Página</th>
							<th>Tamanho</th>
							<th>Ação</th>
						</thead>
						<tbody>
					  <tr>
					  	<td style="vertical-align: middle;">Clientes e endereços</td>
					  	<td><input type="number" id="client-page-input" class="input-lg" style="width: 100px" value="0"></td>
					  	<td><input type="number" id="client-size-input" class="input-lg" style="width: 100px" value="50" max="50"></td>
					  	<td style="vertical-align: middle;">
					  		<button class="btn btn-xs btn-info dim btn-import" data-type="client" data-url="/fbits-migrations/clients">
					  			<i class="fa fa-download"></i> Importar
								</button>
					  	</td>
					  </tr>
					  <tr>
					  	<td style="vertical-align: middle;">Marcas (Fabricantes)</td>
					  	<td><input type="number" id="brand-page-input" class="input-lg" style="width: 100px" value="0"></td>
					  	<td><input type="number" id="brand-size-input" class="input-lg" style="width: 100px" value="50" max="50"></td>
					  	<td style="vertical-align: middle;">
					  		<button class="btn btn-xs btn-info dim btn-import" data-type="order" data-url="/fbits-migrations/brands">
					  			<i class="fa fa-download"></i> Importar
								</button>
					  	</td>
					  </tr>
					  <tr>
					  	<td style="vertical-align: middle;">Categorias</td>
					  	<td><input type="number" id="category-page-input" class="input-lg" style="width: 100px" value="0"></td>
					  	<td><input type="number" id="category-size-input" class="input-lg" style="width: 100px" value="50" max="50"></td>
					  	<td style="vertical-align: middle;">
					  		<button class="btn btn-xs btn-info dim btn-import" data-type="order" data-url="/fbits-migrations/categories">
					  			<i class="fa fa-download"></i> Importar
								</button>
					  	</td>
					  </tr>
					  <tr>
					  	<td style="vertical-align: middle;">Produtos</td>
					  	<td><input type="number" id="product-page-input" class="input-lg" style="width: 100px" value="0"></td>
					  	<td><input type="number" id="product-size-input" class="input-lg" style="width: 100px" value="50" max="50"></td>
					  	<td style="vertical-align: middle;">
					  		<button class="btn btn-xs btn-info dim btn-import" data-type="product" data-url="/fbits-migrations/products">
					  			<i class="fa fa-download"></i> Importar
								</button>
					  	</td>
					  </tr>
					  <tr>
					  	<td style="vertical-align: middle;">Pedidos</td>
					  	<td><input type="number" id="order-page-input" class="input-lg" style="width: 100px" value="0"></td>
					  	<td><input type="number" id="order-size-input" class="input-lg" style="width: 100px" value="50" max="50"></td>
					  	<td style="vertical-align: middle;">
					  		<button class="btn btn-xs btn-info dim btn-import" data-type="order" data-url="/fbits-migrations/orders">
					  			<i class="fa fa-download"></i> Importar
								</button>
					  	</td>
					  </tr>
					  <tr>
					  	<td style="vertical-align: middle;">Pedidos Yml</td>
					  	<td><input type="number" id="order-yml-page-input" class="input-lg" style="width: 100px" value="0"></td>
					  	<td><input type="number" id="order-yml-size-input" class="input-lg" style="width: 100px" value="50" max="50"></td>
					  	<td style="vertical-align: middle;">
					  		<button class="btn btn-xs btn-info dim btn-import" data-type="order-yml" data-url="/fbits-migrations/orders-yml">
					  			<i class="fa fa-download"></i> Importar
								</button>
					  	</td>
					  </tr>
					  </tbody>
					</table>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal inmodal" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title">Dados importados</h4>
            </div>
            <div class="modal-body" id="modal-body">
                <p><strong><span id='modal-size-span'>10</span> registros, da página <span id="modal-page-span">1</span></strong> importados com sucesso. Aguarde o carregamento da próxima página.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
	function ajax_import(url, page, size) {
		$.ajax({
			type: 'get',
	  	url: url,
	  	data: {page: page, size: size},
			success:function(data){
				$('#myModal6').modal('hide');
				// sleep(2000);
				if (data.go) {
					ajax_import(url, data.page, data.size);
					$('#modal-size-span').html(data.size);
					$('#modal-page-span').html(data.page);
				} else {
					$('#modal-body').html('Todos os registros importados com sucesso! FIM');
				}
				// sleep(2000);
				$('#myModal6').modal('show');
			}
		});
	}

	$(document).ready(function() {
		$('.btn-import').click(function() {
			type = $(this).attr('data-type');
			console.log(type)
			console.log($(this).attr('data-url'))
			console.log($('#'+type+'-page-input').val())
			console.log($('#'+type+'-size-input').val())
			ajax_import($(this).attr('data-url'), $('#'+type+'-page-input').val(), $('#'+type+'-size-input').val())
		});
	});	
</script>