<% provide(:title, 'Fbits Migrations') %>
<%= render 'shared/page_heading' %>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				
				<div class="ibox-content">

<p></p>
					<table class="table">
						<thead>
							<th>Dados</th>
							<th>Ação</th>
						</thead>
						<tbody>
							<% @products.each do |product| %>
					  <tr>
					  	<td><%= product %></td>
					  	<td>
					  		<%= link_to migrate_clients_path, class: 'btn btn-xs btn-info dim' do %>
					  			<i class="fa fa-download"></i> Importar
	    					<% end %>
					  		</td>
					  </tr>
					  <% end %>
					  </tbody>
					</table>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>