<% provide(:title, "Login") %>
<% provide(:extra_js, (javascript_include_tag 'icheck/icheck', 'data-turbolinks-track': 'reload')) %>

<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"><%= image_tag "logo-square-alfa.png", class: "login-logo" %></h1>
            </div>
            <h3 class="m-t-md">App de Retaguarda Administrativa </h3>

            <p>Controle, gerência e integração de sistemas de informação do grupo Anita Shoes.</p>
            <%= form_for(:session, url: login_path, :html => { class: 'm-t' }) do |f| %>
            
                <div class="form-group" id="session_email_form_group">
                    <%= f.email_field :email, class: 'form-control', placeholder: 'E-mail', type: 'email', required: "required" %>
                </div>
                <div class="form-group">
                    <%= f.password_field :password, class: 'form-control', placeholder: 'Senha', required: "required" %>
                </div>
                <%= f.submit "Entrar", class: "btn btn-primary block full-width m-b" %>

                <div class="form-group" id="session_password_form_group">
                    <div class="checkbox i-checks text-center">
                        <%= f.label :remember_me, class: "checkbox-inline" do %>
                          <%= f.check_box :remember_me %>
                          <span>Mantenha-me logado</span>
                        <% end %>
                    </div>
                </div>

                <%= link_to new_password_reset_path do %><small>Recuperação de senha</small><% end %>
                <p>&nbsp;</p>

                <%= link_to signup_url, class: "btn btn-sm btn-white btn-block" do %>
                    Fazer meu primeiro acesso
                <% end %>
            <% end %>
            <p class="m-t"> <small>The Anita Shoes Admin Rearguard App is based on Inspinia and Bootstrap 4 &copy; <%= Date.current.year %></small> </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        
        <% if !params[:nub].nil? %>
            $('#myModal6').modal('show');
        <% end %>
    });
</script>

<div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title">Acesso solicitado</h4>
            </div>
            <div class="modal-body">
                <p><strong>Verifique seu e-mail,</strong> Para ativar sua conta. Basta localizar o e-mail de ativação e clicar no link contido nele, feito isso você já poderá acessar o sistema. Demais acessos restritos serão concedidos de acordo com as atribuições de cada colaborador.</p>
                <p>Em caso de dúvidas ou urgências acione o suporte através do <a target="_BLANK" href="https://tobelli.tomticket.com/">sistema de chamados</a> ou pelo e-mail <a href="mailto:site@anita.com.br">site@anita.com.br</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
