<% provide(:title, "Recuperação de senha") %>

<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"><%= image_tag "logo-square-alfa.png", class: "login-logo" %></h1>
            </div>
            <h3 class="m-t-md">App de Retaguarda Administrativa </h3>

            <p>Crie uma nova senha para recuperar o seu acesso.</p>
            <%= form_for(@user, url: password_reset_path(params[:id]), :html => { class: 'm-t' }) do |f| %>
              <%= render 'shared/error_messages' %>
            	<%= hidden_field_tag :email, @user.email %>
              <div class="form-group" id="session_email_form_group">
                  <%= f.password_field :password, class: 'form-control', placeholder: 'Nova senha', required: "required" %>
              </div>

              <div class="form-group" id="session_email_form_group">
                  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Nova senha', required: "required" %>
              </div>
              <%= f.submit "Atualizar senha", class: "btn btn-primary block full-width m-b" %>
            <% end %>
            <p class="m-t"> <small>The Anita Shoes Admin Rearguard App is based on Inspinia and Bootstrap 4 &copy; <%= Date.current.year %></small> </p>
        </div>
    </div>
</div>