<% provide(:title, "Recuperação de senha") %>

<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"><%= image_tag "logo-square-alfa.png", class: "login-logo" %></h1>
            </div>
            <h3 class="m-t-md">App de Retaguarda Administrativa </h3>

            <p>Recuperação de senha, informe seu e-mail.</p>
            <%= form_for(:password_reset, url: password_resets_path, :html => { class: 'm-t' }) do |f| %>
                <div class="form-group" id="session_email_form_group">
                    <%= f.email_field :email, class: 'form-control', placeholder: 'E-mail', type: 'email', required: "required" %>
                </div>
                <%= f.submit "Recuperar", class: "btn btn-primary block full-width m-b" %>
            <% end %>
            <p class="m-t"> <small>The Anita Shoes Admin Rearguard App is based on Inspinia and Bootstrap 4 &copy; <%= Date.current.year %></small> </p>
        </div>
    </div>
</div>