<h1>Ativação de conta - Retaguarda Anita</h1>

<p>Olá <%= @user.name %>,</p>

<p>
Bem-vindo ao Retaguarda App! Clique no link abaixo para ativar sua conta:
</p>

<%= link_to "Ativar", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>