<tr>
	<td> <%= activity.created_at.strftime('%d/%m/%Y - %H:%M:%S') %></td>
	<td><%= User.find(activity.owner_id).name %></td>
	<td><%= activity.trackable_type %></td>
	<td> <%= activity.key %></td>
	<td><%= activity.trackable_id %></td>
</tr>