<tr>
	<td><%= gravatar_for user, 50, nil, 'width:50px' %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= link_to user.email, user %></td>
  <td><%= link_to user.role, user %></td>
  <td>
  	<% if policy(user).update? %>
	    <%= link_to edit_user_path(user), class: 'btn btn-xs btn-info dim' do %>
	    <i class="fa fa-pencil"></i> Editar
	    <% end %>
	  <% end %>
	  <% if policy(user).destroy? %>
	    <%= link_to user, method: :delete, data: { confirm: "Está certo disso?" }, class: 'btn btn-xs btn-danger dim' do %>
	    	<i class="fa fa-trash"></i> Deletar
	    <% end %>
	  <% end %>
	</td>
</tr>