<% provide(:title, "Edite Seu perfil") %>
<%= render 'shared/page_heading' %>

<div class="row wrapper wrapper-content animated fadeInRight">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3><%= @user.name%></h3>

      </div>

			<div class="ibox-content flex">
				<div class="row">
				  <div class="col-md-6 col-md-offset-3">
				    <%= form_for(@user) do |f| %>
				      <%= render 'shared/error_messages' %>

				      <%= f.label :name %>
				      <%= f.text_field :name, class: 'form-control' %>

				      <%= f.label :email %>
				      <%= f.email_field :email, class: 'form-control' %>

				      <%= f.label :password %>
				      <%= f.password_field :password, class: 'form-control' %>

				      <%= f.label :password_confirmation, "Confirmation" %>
				      <%= f.password_field :password_confirmation, class: 'form-control' %>

				      <%= f.submit "Salvar alterações", class: "btn btn-primary" %>
				    <% end %>

				    <div class="gravatar_edit">
				      <%= gravatar_for @user %>
				      <a href="http://gravatar.com/emails" target="_blank">Trocar foto</a>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>