<% provide(:title, 'Usuários do sistema') %>
<%= render 'shared/page_heading' %>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<span class="float-right"><%= page_entries_info @users %></span>
				<div class="ibox-content">

					<table class="table">
						<thead>
							<th>Foto</th>
							<th>Usuário</th>
							<th>E-mail</th>
							<th>Permissões</th>
							<th>Ações</th>
						</thead>
						<tbody>
					  <%= render @users %>
					  </tbody>
					</table>
					</ul>

					<%= will_paginate %>
				</div>
			</div>
		</div>
	</div>
</div>