<% provide(:title, "Meu perfil") %>
<%= render 'shared/page_heading' %>

<div class="row wrapper wrapper-content animated fadeInRight">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h3><%= @user.name%></h3>

				<div class="ibox-tools">
					<div class="buttons">
						<%= link_to edit_user_path(@user), class: "btn btn-w-m btn-sm btn-success" do %><%= fa "fa-pencil", "fa" %> Editar<% end %>
						<a href="#" class="btn btn-w-m btn-sm btn-info"><i class="fa fa-lock "></i> Alterar senha </a>
					</div>
				</div>
      </div>

			<div class="ibox-content flex">
				<div class="m-r-lg text-center">
					<%= gravatar_for @user, 140, 'img-circle circle-border info m-b-md', "max-width:140px" %>
				</div>
					
				<div class="row">
					<div class="col-lg-6">
						<h4><%= fa 'fa-user-tie' %> Gerente</h4>
						<ul class="list-unstyled m-t-md">
							<li>
								<span class="fa fa-envelope m-r-xs"></span>
					      <label>Email:</label>
					      <%= @user.email %>
			    		</li>
			    		<li>
					      <span class="fa fa-home m-r-xs"></span>
					      <label>Endereço:</label>
					      Rua Melissa, 80 - Carandá Bosque 2<br>
					      Campo Grande / MS CEP: 79032-181
					    </li>
					    <li>
					      <span class="fa fa-phone m-r-xs"></span>
					      <label>Contatos:</label>
					      +55 67 99186-3122
			    		</li>
			    		<h1>
			    			<%= fa "fa-whatsapp-square", "fab" %>
			    			<%= fa "fa-skype", "fab" %>
			    			<%= fa "fa-instagram", "fab" %>
			    			<%= fa "fa-facebook", "fab" %>
			    			<%= fa "fa-linkedin", "fab" %>
			    		</h1>
						</ul>
					</div>
					<div class="col-lg-6">
						<ul class="list-unstyled m-t-md">
		    			<li>
				        <span class="fa fa-building m-r-xs"></span>
				        <label>Departamento:</label>
				        Site
		    			</li>
		    			<li>
				        <span class="fa fa-phone m-r-xs"></span>
				        <label>Ramal:</label>
				        4292
		    			</li>
		    			<li>
				        <span class="fa fa-map-marker-alt m-r-xs"></span>
				        <label>Lotação:</label>
				        Loja 10 (Matriz) - Av. Mato Grosso, 2934
		    			</li>
		    			<li>
				        <span class="fa fa-clock m-r-xs"></span>
				        <label>Expediente:</label>
				        Segunda a sexta da 08:00 às 12:00 / 14:00 às 18:00
		    			</li>
		    			<li>
				        <span class="fa fa-tags m-r-xs"></span>
				        <label>Permissões:</label>
								<span class="label">Suporte</span>
				        <span class="label">Administrador</span>
				        <span class="label">Super usuário</span>
		    			</li>
		    		</ul> 
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>