<% provide(:title, 'Solicite seu acesso') %>
<% provide(:extra_js, (javascript_include_tag 'icheck/icheck', 'data-turbolinks-track': 'reload')) %>

<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"><%= image_tag "logo-square-alfa.png", class: "login-logo" %></h1>
            </div>
            <h3 class="m-t-md">Solicitação de acesso</h3>

            <p>Seu acesso ao App será concedido pela diretoria após aprovação e definição do perfil de acordo com suas atribuições.</p>
            <%= form_for(@user, url: signup_path, :html => { class: 'm-t' }) do |f| %>
            
                <div class="form-group" id="user_name_form_group">
                    <%= f.email_field :name, class: 'form-control', placeholder: 'Seu nome', type: 'text' %>
                </div>
                <div class="form-group <%= 'has-error' if @user.errors.include? :email %>" id="user_email_form_group">
                    <%= f.email_field :email, class: 'form-control', placeholder: 'Seu e-mail', type: 'email' %>
                </div>
                <div class="form-group <%= 'has-error' if @user.errors.include? :password %>" id="user_password_form_group">
                    <%= f.password_field :password, class: 'form-control', placeholder: 'Senha' %>
                </div>
                <div class="form-group <%= 'has-error' if @user.errors.include? :password_confirmation %>" id="user_password_confirmation_form_group">
                    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirme sua senha' %>
                </div>
                <div class="form-group">
					<div class="checkbox i-checks text-center">
						<label style="padding-left: 0px;"> <input type="checkbox"><i></i> Concordo que clico sem ler os termos :) </label>
					</div>
                </div>
                <%= f.submit "Solicitar meu acesso", class: "btn btn-primary block full-width m-b" %>

                <p class="text-muted text-center"><small>Já tem seu acesso?</small></p>
                <%= link_to login_url, class: "btn btn-sm btn-white btn-block" do %>
                    Login
                <% end %>

            <% end %>
            <p class="m-t"> <small>The Anita Shoes Admin Rearguard App is based on Inspinia and Bootstrap 4 &copy; <%= Date.current.year %></small> </p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>