<% require 'uri' %>
<% provide(:title, "Meu perfil") %>
<%= render 'shared/page_heading' %>

<div class="row">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="ibox-content p-xl">
				<h1>
				  <%= gravatar_for @user %>
				  <%= @user.name %>
				  <small><%= @user.email %></small>
				</h1>
			</div>
		</div>
	</div>
</div>