<div class="footer fixed">
    <div class="pull-right">
        <strong>12.324</strong> produtos sincronizados
    </div>
    <div>
        <strong>Copyright</strong> Tobelli Comércio de Calçados &copy; <%= Time.now.year %>
    </div>
</div>
