<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " data-remote="true" href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Busque o que quiser" class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to logout_path, rel: 'nofollow', 'data-method': 'delete' do %>
                <!-- <a href="/logout" rel="nofollow" data-method="delete"> -->
                    <i class="fa fa-sign-out"></i> Sair
                <!-- </a> -->
                <% end %>
            </li>
<!--             <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li> -->
        </ul>
    </nav>
</div>
