<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2><%= yield :title %></h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to root_path do %>Painel<% end %>
            </li>
            <li class="active">
                <strong><%= yield :title %></strong>
            </li>
        </ol>
    </div>
</div>