<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center">
                    <span>
                        <%= image_tag "logo-square-alfa.png", class: "img-circle sidebar-profile" %>
                        <%#= gravatar_for current_user, 48, "img-circle" %>
                    </span>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-left">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%= session[:user_name] %></strong>
                            </span>
                            <span class="text-muted text-xs block"><%= fa 'fa-user-tie' %>Gerente<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><%= link_to my_profile_path do %>Meu perfil<% end %></li>
                        <!-- <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="mailbox.html">Mailbox</a></li> -->
                        <li class="divider"></li>
                        <li><a href="login.html">Sair</a></li>
                    </ul>
                </div>
            </li>
            <li class="<%= 'active' if active_link?('application', 'home') %>">
                <%= link_to root_path do %>
                    <i class="fa fa-tachometer-alt"></i> <span class="nav-label">Painel</span>
                <% end %>
            </li>
            
            <!-- E-COMMERCE -->
            <li class="<%= 'mm-active' if show_group?('ecommerce') %>">
                <a href="#" aria-expanded="<%= show_group?('ecommerce') ? 'true' : 'false' %>">
                    <i class="fa fa-cart-plus"></i> <span class="nav-label">E-commerce</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level <%#= 'mm-collapse mm-show' if show_group?('ecommerce') %>" aria-expanded="<%= show_group?('ecommerce') ? 'true' : 'false' %>">
                    <li class="<%= 'active' if active_link?('products', 'index') %>"><%= link_to products_path do %><i class="fa fa-boxes"></i>Produtos<% end %></li>
                    <li class="<%= 'active' if active_link?('clients', 'index') %>"><%= link_to clients_path do %><i class="fa fa-users"></i>Clientes<% end %></li>
                    <li class="<%= 'active' if active_link?('orders', 'index') %>"><%= link_to orders_path do %><i class="fa fa-file-invoice-dollar"></i>Pedidos<% end %></li>
                </ul>
            </li>

            <!-- CONFIGURAÇÕES -->
            <li class="<%= 'mm-active' if show_group?('configurations') %>">
                <a href="#" aria-expanded="<%= show_group?('configurations') ? 'true' : 'false' %>"><i class="fa fa-cogs"></i> <span class="nav-label">Configurações</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level <%#= 'mm-show' if show_group?('configurations') %>"  aria-expanded="<%= show_group?('configurations') ? 'true' : 'false' %>">
                    <li class="<%= 'active' if active_link?('users', 'index') %>"><%= link_to users_path do %><i class="fa fa-users"></i>Usuários<% end %></li>
                    <li class="<%= 'active' if active_link?('activities', 'index') %>"><%= link_to activities_path do %><i class="fa fa-history"></i>Log de uso<% end %></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
