$(document).ready(function () {
	$('.form-control').focus(function() {
		$('#'+$(this).attr('id')+'_form_group').removeClass('has-error');
		$('.'+$(this).attr('id')+'_error').hide();
	});
});

msg = "Encontramos <strong><%= pluralize(@model.errors.count, "erro")%></strong> nisto que foi informado :(";
js_flash("error", "Revise os dados informados", msg);

$('.error').remove();
<% @model.errors.each do |attribute, error| %>
	$('#<%= @model.class.name.downcase %>_<%= attribute %>_form_group').addClass('has-error');
	$('#<%= @model.class.name.downcase %>_<%= attribute %>').after($('<label class="error <%= @model.class.name.downcase %>_<%= attribute %>_error" id="error_explanation">- <%= error.capitalize %></label>'));
<% end %>

