
/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

/*#console {
  position: initial;
}

.console .layer {
  height: initial !important;
}
*/
.sub-data-produto {
  padding: 4px 0px;
}

.b-b-gray1 {
  border-bottom: 1px solid #DDDDDD;
}

.v-midle {
  vertical-align: middle !important;
}

.tabs-left.variantes {
  display: flex;
}

.nav.nav-tabs.variantes {
  margin-right: 0px;
}

.panel-body.variantes {
  margin-left: 0px !important;
  width: 100% !important;
  padding: 10px !important;
}

.tab-content.variantes {
  width: 100% !important;
}

.tab-a-variante, .tab-a-variante:hover {
  padding: 7px 10px !important;
  border-top: solid 1px #DDD;/*
  border-left: solid 1px #DDD;
  border-bottom: solid 1px #DDD*/;
  background: #f3f3f4 !important;
}

.active > .tab-a-variante {
  background: #FFF !important;
}

.bg-branco {
  background: #FFFFFF;
}

.bg-preto {
  background: #000000;
}

.hand {
  cursor: pointer;
}

.popover-content {
  font-size: 12px;
  color: #888888;
}

.t-a-center {
  text-align: center;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.sk-spinner-cube-grid {
  margin: 20px auto !important;
}

.flex-center {
  display: flex;
  align-items: center;
}

.stock-label {
  min-width: 39px !important;
}

.p-t-sm {
  padding-top: 10px;
}

.login-logo {
  width: 75%;
  opacity: 0.2;
}

/* ICheck*/
/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: image-url("green.png") no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

.form-group {
  text-align: left;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}
/* /ICheck */

.sidebar-profile {
  width: 75px;
  background: #FFF;
  padding: 3px;
  margin-bottom: 10px;
}

.nav-header {
  padding: 11px 25px;
}

.flex {
  display: flex;
}