// Open Sans
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('OpenSans-BoldItalic-webfont.eot');
    src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-BoldItalic-webfont.woff2') format('woff2'),
         url('../fonts/Open-Sans/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

//@import url("../fonts/Open-Sans/opensans_bolditalic_macroman/stylesheet.css");
@import url("../fonts/Open-Sans/opensans_bold_macroman/stylesheet.css");
@import url("../fonts/Open-Sans/opensans_extrabolditalic_macroman/stylesheet.css");
@import url("../fonts/Open-Sans/opensans_extrabold_macroman/stylesheet.css");
@import url("../fonts/Open-Sans/opensans_italic_macroman/stylesheet.css");
@import url("../fonts/Open-Sans/opensans_lightitalic_macroman/stylesheet.css");
@import url("../fonts/Open-Sans/opensans_light_macroman/stylesheet.css");
@import url("../fonts/Open-Sans/opensans_regular_macroman/stylesheet.css");
@import url("../fonts/Open-Sans/opensans_semibolditalic_macroman/stylesheet.css");
@import url("../fonts/Open-Sans/opensans_semibold_macroman/stylesheet.css");

// Roboto
@import url("../fonts/Roboto/roboto_blackitalic_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_black_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_boldcondenseditalic_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_boldcondensed_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_bolditalic_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_bold_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_condenseditalic_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_condensed_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_italic_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_lightcondenseditalic_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_lightcondensed_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_lightitalic_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_light_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_mediumitalic_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_medium_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_regular_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_thinitalic_macroman/stylesheet.css");
@import url("../fonts/Roboto/roboto_thin_macroman/stylesheet.css");