<% provide(:title, 'Log de uso do Sistema') %>
<%= render 'shared/page_heading' %>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<table class="table">
						<thead>
							<th>Data</th>
							<th>Autor</th>
							<th>Controle</th>
							<th>Ação</th>
							<th>Registro</th>
						</thead>
						<tbody>
							<%= render @activities %>
						</tbody>
					</table>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>  
<%#= link_to activity.owner.name, activity.owner if activity.owner %>
<%#= render_activity activity %>