id = '<%= params[:id] %>';

$('#tr-loading-'+id).hide();
$('#tr-produtos-'+id).show();

$('#fbits-id-<%= @product.fbits_code %>').html('<%= @product.fbits_code %>');
$('#fbits-name-<%= @product.fbits_code %>').html('<%= @product.fbits_name %>');
$('#fbits-price-<%= @product.fbits_code %>').html('<%= @product.fbits_price %>');

<% i = 0 %>
<% @product.colors.each do |k, color| %>
  $('.tabs-colors-<%= @product.fbits_code %>').append('<li class="<%= "active" if i == 0 %>"><a class="tab-a-variante" data-toggle="tab" href="#tab-<%= @product.fbits_code %>-<%= i %>"> <%= color.fbits_name %></a></li>');
  $('.tab-color-<%= @product.fbits_code %>').append(
    '<div id="tab-<%= @product.fbits_code %>-<%= i %>" class="tab-pane h-100 <%= "active" if i == 0 %>">'+
    ' <div class="panel-body variantes h-100 flex-center">'+
    '   <table class="table table-responsive" style="margin-bottom: 0px;">'+
    '     <thead><tr><th>Grade</th><th>Status</th></tr></thead>'+
    '     <tbody><tr><th>'+
    '       <div class="m-xs" id="grade-saci-<%= @product.fbits_code %>-<%= i %>">'+
    '         <span class="label stock-label !label-primary hand" data-html="true" data-container="body" data-toggle="popover" data-placement="top" data-content="SKU: 1234560101<br>Visível no site<br>Atualização: 10/02/2018 às 10:45 h." data-original-title="" title="Detalhes da variante">31: <b>1</b></span>'+
    '         <span class="label stock-label !label-warning">32: <b>0</b></span>'+
    '         <span class="label stock-label !label-primary">33: <b>3</b></span>'+
    '         <span class="label stock-label !label-danger">34: <b>2</b></span>'+
    '         <span class="label stock-label !label-primary">35: <b>0</b></span>'+
    '       </div>'+
    '       <div class="m-xs" id="grade-fbits-<%= @product.fbits_code %>-<%= i %>"></div>'+
    '     </th><th class="v-midle"><span class="badge badge-danger"><i class="fa fa-exclamation-circle"></i> Crítico</span><br></th></tr></tbody>'+
    '   </table>'
  );

  <% color.stock.each do |size, stock| %>
    $('#grade-fbits-<%= @product.fbits_code %>-<%= i %>').append(
      '<span class="label stock-label hand" '+
      'data-trigger="hover" data-html="true" data-container="body" data-toggle="popover" data-placement="top" '+
      'data-content="SKU: <%= stock.sku %><br><%= (stock.fbits_visibility == true) ? "Visível" : "Invisível" %> no site<br>'+
      'Atualização: <%= stock.fbits_updated.to_date.strftime("%d/%m/%Y") %> às <%= stock.fbits_updated.to_time.strftime("%H:%M") %> h." '+
      'data-original-title="" title="Detalhes da variante" '+
      '><%= stock.size %>: <b><%= stock.fbits_qtty %></b></span>'+
      ' ')
  <% end %>
  <% i = i+1 %>
<% end %>

$('.stock-label').popover()
