<!DOCTYPE html>
<!--[if IE 8]>
<html id="ie8" lang="pt-BR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="child-src 'none'; object-src 'none'">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path( 'favicons/apple-icon-57x57.png' ) %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path( 'favicons/apple-icon-60x60.png' ) %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path( 'favicons/apple-icon-72x72.png' ) %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path( 'favicons/apple-icon-76x76.png' ) %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path( 'favicons/apple-icon-114x114.png' ) %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path( 'favicons/apple-icon-120x120.png' ) %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path( 'favicons/apple-icon-144x144.png' ) %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path( 'favicons/apple-icon-152x152.png' ) %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path( 'favicons/apple-icon-180x180.png' ) %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_path( 'favicons/android-icon-192x192.png' ) %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path( 'favicons/favicon-32x32.png' ) %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_path( 'favicons/favicon-96x96.png' ) %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path( 'favicons/favicon-16x16.png' ) %>">
    <link rel="manifest" href="<%= asset_path( 'favicons/manifest.json' ) %>">
    <meta name="msapplication-TileImage" content="<%= asset_path( 'favicons/ms-icon-144x144.png' ) %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="Aplicativo de retaguarda para integração e controle de informações do grupo Anita Shoes">
    <meta NAME="Author" CONTENT="Anita Shoes | By Gê Bender">

    <%= csrf_meta_tags %>
    <%= yield :extra_css %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->

  </head>
  <body class="gray-bg">
    <%= render 'shared/flash_messages' if !flash.empty? %>
    <div class="container">
      <%= yield %>
    </div>

    <%= debug(params) if Rails.env.development? %>
    <%= console if Rails.env.development? %>
    
  </body>
  <%= yield :extra_js %>
</html>
